* {
  font-family: 'Chewy', cursive, sans-serif;
  font-weight: 400;
  text-align: center;
}
h1 {
  font-family: 'Chewy', cursive, sans-serif;
  padding-top: 10px;
  font-size: 3em;
}
.btn-primary, .btn-primary:focus {
    background-color: #C9C9C9;
    border-color: #A3A3A3;
    color: #333;
}
.btn-primary:hover, .btn-primary:hover:focus {
    background-color: #878787;
    border-color: #A3A3A3;
    color: #333;
}
.cabecera {
  padding-bottom: 20px;
  font-size: 1.5em;
}
.clickable {
  cursor: pointer;
  background-color: white;
}
.no_clickable {
  cursor: not-allowed;
  background-color: white;
}
.no_clickable_X {
  cursor: not-allowed;
  background-color: #CE1500;
  font-weight: 700;
  color: black;
}
.no_clickable_0 {
  cursor: not-allowed;
  background-color: #327AB7;
  font-weight: 700;
  color: black;
}
